body {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    clear: both;
}
h1 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 64px;
}
h1, h2 {
    font-weight: 400;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
main {
    padding: 64px 16%;
}
img {
  border-radius: 50%;
  width: 50%;
}
li:nth-child(even) img {
  margin-left: 24px;
  order: 1;

}
li:nth-child(odd) img {
  margin-right: 24px;
  order: 0;
}
li {
  padding: 0 0 125px 0;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 700px){
   li {
      flex-direction: column;
      display: flex;
   }
   li img {
     order: 0 !important;
   }
   img {
     width: 80%;
   }
}
@media screen and (min-width: 1100px){
  li {
    width: 50%;
    flex-direction: column;
    display: flex;
    text-align: center;
  }
   li:nth-child(even)   {
     float: right;
     flex-direction: column-reverse;
     text-align: center;
   }
}
