@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
h2 {
  font-family: 'Julius Sans One', sans-serif;
}
#simple {
background-image: url(../img/ipad-landscape.jpg);
background-size: 50%;
background-repeat: no-repeat;
float: left;
}
#simple::after {
  clear:both;
  display:block;
  content: "";
}
#simple div {
  width: 50%;
  box-sizing: border-box;
  float: right;
  padding: 25px;
}
#simple hr {
width: 50%;
float: left;
}
#simple a {
  text-transform: uppercase;
  font-size: 80%;
}
